.container-extract {
  background-color: #8b7b47;
  color: #fff;
  padding: 0px 120px 0px 120px;
  margin: 0px 120px 0px 120px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
