.empty-cell{
    width: 0px;
}

.description-cell, .category-cell, .amount-cell, .empty-cell {
    font-family: "Poppins", sans-serif !important ;
    font-weight: 550 !important;
    padding: 10px !important;
    border-bottom: 0px;
    
}
.description-cell{
    width: 42%;
    font-size: 1.2rem !important;
}

.category-cell {
    width: 22%;
    font-size: 0.8rem !important;

}
.amount-cell {
    font-size: 1.3rem !important;
    text-align: center !important;
}

.delete-button {
    width: 0%;
    padding: 0px;
    font-size: 1.3rem !important;
    text-align: center !important;
}
.delete-button button {
    background: transparent;
    border: none;
    color: #c62828;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  
  .delete-button button:hover {
    color: #f80303;
  }

  .sub-table-container{
    width: 550px !important;
    margin-left: auto;
    font-family: "Poppins", sans-serif !important ;
  }


  .sub-table {
    background-color: #e0e0e0;
    border: 1px solid #858585 !important;
    border-spacing: 3px; /* Agrega separación entre las filas */
    border-collapse: separate; /* Asegúrate de que el border-spacing funcione */
    margin-bottom: 5px !important;
    border-radius: 10px !important;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1) !important;
    display: table !important;
    width: 100% !important;
  }

