body {
  margin: 0;
  padding: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.container {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 10px;
  border: red 1px solid;
  padding: 10px;
  margin: 0px 20px 0px 20px;
}

h1 {
  font-size: 4rem;
  color: azure;
}

button {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px 20px;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 80%;
}

.add-button {
  background-color: #288d2c;
}

.delete-button {
  background-color: #d32f2f;
}

input {
  font-size: 1.6rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

.row-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  background-color: hsl(0, 0%, 90%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 80%, 0.75);
  border-radius: 5px;
  flex: 1;
  max-width: 500px;
}

span,
p {
  font-size: 2rem;
  font-weight: bold;
}

span {
}
